.scroll-content {
    padding: 0 !important;
}

.post-container {
    padding: 0;
    margin: 0;
    width: 100%;
    box-shadow: none;
}

.info-container {
    justify-content: space-around;
    display: flex;
    flex-direction: column;
}

.content-container ion-label {
    white-space: inherit;
    text-overflow: inherit;
}

.comments-line {
    background-color: rgba(0, 0, 0, 0.15) !important;
    margin-bottom: 0;
}

.message-container {
    border-left: 4px solid transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    &.op {
        border-left: 4px solid #00f;
    }

    ion-label {
        white-space: inherit;
        text-overflow: inherit;
        font-size: 13px;
    }

    span {
        color: #c5c5c5;
    }
}

.right-button {
    text-align: right;
}

.image-container {
    padding-top: 12px;
    padding-left: 12px;
}