ion-textarea {
    textarea {
        resize: none;
    }
}

.image-pick {
    display: flex;

    button:first-child {
        margin-right: 5px;
    }

    button:last-child {
        margin-left: 5px;
    }
}