.post-card {
    cursor: pointer;
    margin: 10px 0;
    width: 100%;
}

.bottom-row button:not(.active) {
    color: #aaa;
}

.title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.comments-button {
    pointer-events: none;
    pointer: default;
}

@media (max-width: 480px) {
    .horizontal-view {
        display: none;
    }}

@media (min-width: 481px) {
    .vertical-view {
        display: none;
    }
}
